@charset "utf-8";
/*CSS reset Start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,lable{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,b,i,th,var {font-weight:normal; font-style:normal;} 
ol,ul{list-style:none;}
caption,th{text-align:left;}
ins{text-decoration:none;}
input, button, select, textarea {outline:none; -webkit-appearance:none;}
textarea {resize:none;}
a {text-decoration: none; cursor:pointer;}
a:hover {color:#333;text-decoration: none;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}


    /*public*/
    .txtd{text-decoration: underline;}
    a.dblk,.dblk{color: #323232;}
    .clear{clear: both;}
    .hr{height:1px;border:none;background-color:#e6e6e6;margin:0 10px;}
    .p10,a.p10{ padding:8px 14px;}
    .p14{padding: 0 14px;}
    .fnone,.plList li div i.fnone{ float:none;}
    .fr{ float:right;}
    .fl{ float:left;}
    .mt10{ margin-top:10px;}
    .mB10{margin-bottom: 20*@rem;}
    .blue,a.blue,.blue a{ color:#12bfc2;}
    .gray,a.gray,.gray a,.banner p.gray {color:#888}
    .lgray,a.lgray,.lgray a,.banner p.lgray {color:#aeaeae}
    .orange,a.orange,.orange a,.orange a:visited,a.orange:visited,.bookdetails li p i.orange { color:#ff6f54;}
    .red,a.red,.red a,.red a:visited,a.red:visited{ color:#fe4d36;}
    .pr40{ padding-right:40px;}
    .lgry{color:#999798;}
    .orang{color:#f5810f;}
    .mt16{ margin-top:10px;}
    .hg170{height: 170px;}
    .px25{ font-size:25px;}
    .px16{ font-size:16px;}
    .px14{ font-size:11px;}
    .px12{ font-size:12px;}
    .black{color: #323232;}
    .p10_2{ padding:0 14px;}
    .plr10{ padding:0 10px;}
    .p0{ padding:0;}
    .pb0{ padding-bottom:0;}
    .pb10{ padding-bottom:10px;}
    a.more_txt{ color:#12bfc2; padding:0 14px;}
    .conList{padding:0 17px;}
    .w90 { width:90px;}
    .tCenter{text-align: center;}
    .tLeft{text-align: left;}
    .bgf{background:#fff;}
    .bt0{border-bottom:none;}
    .Blue,a.Blue,.Blue a{ color:#12bfc2;}
    .dblue,a.dblue,.dblue a{color:#1a838b;}
    .no_hh{ white-space:nowrap;}
    .no_brd{ border:none;}
    .red { color:#ff0000}
    a.btnBlue,.btnBlue{color: #fff;}
    .blk,a.blk{color:#323232}
    .mlr10{ margin:0 10px;}
    .mt0{ margin-top:0;}
    .m0{ margin:0;}
    .lineOne{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .lineTwo,.lineTre{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
    .lineTre{-webkit-line-clamp: 3;}
    .w50{width:50%;}
    .m_auto{margin :0px  auto;}
    .deline {text-decoration: line-through;color:#aeaeae;}
    .overh{overflow: hidden;}
    .bod{ border:1px solid @bgcolor;}
    .lh25{ line-height:25px;}
    .clear{ clear:both;}
    .bb0{ border-bottom:none;}
    .bg_hui,a.bg_hui{background:#ccc;}
    .bb1{border-bottom:1px solid #ddd;}
    .p10_y{  padding: 10px 17px 10px;}